
<section class="panel" ng-controller="productEditController">
    <header class="panel-heading">
        Edit product
    </header>
    <div class="panel-body">
        <div class="position-center">
            <form class="form-horizontal" role="form" formnovalidate name="productEditForm" ng-submit="editProduct()">
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Product Name</label>
                    <div class="col-lg-10">
                        <input required type="text" class="form-control" name="productname" ng-model="product.ProductName">
                        <span ng-show="productEditForm.productname.$invalid" class="text-danger">Enter product name</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Supplier</label>
                    <div class="col-lg-10">
                        <select required ng-model="product.SupplierId" ng-options="option.Id as option.CompanyName for option in listSupplier" name="supplier" class="form-control">
                            <option value="" disabled>Select company</option>
                        </select>
                        <span ng-show="productEditForm.supplier.$invalid" class="text-danger">Select supplier</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Unit price</label>
                    <div class="col-lg-10">
                        <input type="number" class="form-control" name="uintprice" ng-model="product.UnitPrice">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Package</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="package" ng-model="product.Package">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Category</label>
                    <div class="col-lg-10">
                        <select disabled ng-model="product.Category" class="form-control">
                            <option value="" class="active">Non</option>
                            <option value="Phone">Phone</option>
                            <option value="Clothe">Clothe</option>
                        </select>
                    </div>
                </div>

                <div ng-hide="(product.Category != 'Phone')">
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Size</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="size" ng-model="product.Size">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Color</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="color" ng-model="product.Color">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Weight</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="weight" ng-model="product.Weight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Chipset</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="chipset" ng-model="product.Chipset">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Ram</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="ram" ng-model="product.Ram">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Storage</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="storage" ng-model="product.Storage">
                        </div>
                    </div>
                </div>

                <div ng-hide="(product.Category != 'Clothe')">
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Size</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="size" ng-model="product.Size">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Color</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="color" ng-model="product.Color">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Material</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="material" ng-model="product.Material">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="product.IsDiscontinued" ng-checked="product.IsDiscontinued"> Is discontinued
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button ng-disabled="productEditForm.$invalid" type="submit" class="btn btn-primary">Save</button>
                        <button ng-click="close()" class="btn btn-default" type="button">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>