
<section ng-controller="eventListController">


    <div class="panel panel-default">
        <div class="panel-heading">
            List Event
        </div>        
        <div>

            <div class="row panel-body">
                <div class="col-lg-4 in-gp-tb">
                    <div class="input-group">
                        <input ng-model="searchKey" type="text" class="form-control" placeholder="Search for Name or Supplier">
                        <span class="input-group-btn">
                            <button ng-click="search()" class="btn btn-info" type="button">Search</button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 in-gp-tb">
                    <div class="input-group">
                        <button ui-sref="events/add" class="btn btn-success" type="button">Add new</button>
                    </div>
                </div>
            </div>

            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <thead>
                    <tr>
                        <th data-breakpoints="xs">ID</th>
                        <th data-breakpoints="xs">Event Name</th>
                        <th data-breakpoints="xs">Alias</th>
                        <th data-breakpoints="xs">Cinema Chain</th>
                        <th>Time</th>
                        <th style="min-width:150px !important" data-breakpoints="xs sm md" data-title="DOB" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in listEvent" data-expanded="true">
                        <td>{{event.id}}</td>
                        <td>{{event.name}}</td>
                        <td>{{event.alias}}</td>
                        <td>{{event.cinemaChainName}}</td>
                        <td>{{event.time}}</td>
                        <td class="text-center">
                            <button class="btn btn-default" ui-sref="events/edit({id: event.id})"><i class="fa fa-pencil text-primary text-active"></i></button>
                            <button class="btn btn-default" ng-click="deleteConfirm(event.id)" style="margin-left: 10px"><i class="fa fa-trash text-danger text"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">showing {{pageSize*page}}-{{pageSize*page + listEvent.length}} of {{totalCount}} items</small>
                </div>
                <div class="col-sm-7 text-right text-center-xs">
                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getListEvent(page)"></pager-directive>
                </div>
            </div>
        </footer>
    </div>

</section>