
<section class="wrapper" ng-controller="eventAddController" style="margin-top: 0px;">
    <div class="mail-w3agile">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-3 com-w3ls">
                <section class="panel">
                    <div class="panel-body">
                        <h4 class="btn btn-compose">
                            For Cinemas
                        </h4>
                        <ul class="nav nav-pills nav-stacked mail-nav">
                            <li class="active"><a href="mail.html"> <i class="fa fa-inbox"></i> Inbox  <span class="label label-danger pull-right inbox-notification">9</span></a></li>
                            <li><a href="#"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
                            <li><a href="#"> <i class="fa fa-certificate"></i> Important</a></li>
                            <li><a href="#"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-info pull-right inbox-notification">123</span></a></a></li>
                            <li><a href="#"> <i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>
                    </div>
                </section>

            </div>
            <div class="col-sm-9 mail-w3agile">
                <section class="panel">
                    <header class="panel-heading">
                        Add new event
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            <form class="form-horizontal" role="form" formnovalidate name="eventAddForm" ng-submit="addEvent()">
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">Event Name</label>
                                    <div class="col-lg-10">
                                        <input required type="text" class="form-control" name="name" ng-model="event.name">
                                        <span ng-show="eventAddForm.name.$invalid" class="text-danger">Enter event name</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">Cinema chain</label>
                                    <div class="col-lg-10">
                                        <select required ng-model="event.cinemaChainID" ng-options="option.id as option.name for option in listCinemaChain" name="cinemachain" class="form-control">
                                            <option value="" disabled>Select chain</option>
                                        </select>
                                        <span ng-show="eventAddForm.cinemachain.$invalid" class="text-danger">Select cinema chain</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">Time</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="uintprice" ng-model="event.time">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">Intro</label>
                                    <div class="col-lg-10">
                                        <textarea style="min-height: 200px !important" type="text" class="form-control" name="package" ng-model="event.intro"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button ng-disabled="eventAddForm.$invalid" type="submit" class="btn btn-primary">Save</button>
                                        <button ng-click="close()" class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- page end-->
    </div>
</section>