
<section ng-controller="userListController">


    <div class="panel panel-default">
        <div class="panel-heading">
            List User
        </div>
        <div>

            <div class="row panel-body">
                <div class="col-lg-4 in-gp-tb">
                    <div class="input-group">
                        <input ng-model="searchKey" type="text" class="form-control" placeholder="Search for Name or Supplier">
                        <span class="input-group-btn">
                            <button ng-click="search()" class="btn btn-info" type="button">Search</button>
                        </span>
                    </div>
                </div>
            </div>

            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th data-breakpoints="xs">User Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th data-breakpoints="xs">Roles</th>
                        <th data-breakpoints="xs sm md" data-title="DOB" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in listUser" data-expanded="true">
                        <td>{{user.id}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phoneNumber}}</td>
                        <td>
                            {{user.roles}}&nbsp;&nbsp;
                            <a href="#" ng-click="showChangeRole(user.listRole)" data-target="#changeRole{{$index}}" data-toggle="modal"><i class="fa fa-pencil text-primary text-active"></i></a>
                            
                            <div class="modal fade" tabindex="-1" id="changeRole{{$index}}" data-keyboard="false" data-backdrop="static">
                                <div style="min-width:500px !important" class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button ng-click="cancelChangeRole()" type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h3 class="text-center">Roles of {{user.userName}}</h3>
                                        </div>
                                        <div class="modal-body">
                                            <h4>Select roles</h4>                                            
                                            <div ng-repeat="role in listRole" class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" ng-model="role.enable" ng-checked="role.enable">{{role.name}}
                                                    </label>
                                                    <!--<a class="right pull-right" ng-click="deleteConfirm(user.id)" style="margin-left: 10px"><i class="fa fa-trash text-danger text"></i></a>-->
                                                </div>
                                            </div>
                                            <!--<a class="btn btn-default" href="#" data-target="#addNewRole" data-toggle="modal" data-dismiss="modal"><i class="fa fa-plus text-success text-active fa-lg"></i></a>-->
                                        </div>
                                        <div class="modal-footer">
                                            <button ng-click="cancelChangeRole()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button ng-click="saveRole($index)" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td class="text-center">
                            <button class="btn btn-default" ng-click="deleteConfirm(user.id)" style="margin-left: 10px"><i class="fa fa-trash text-danger text"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">showing {{pageSize*page}}-{{pageSize*page + listUser.length}} of {{totalCount}} items</small>
                </div>
                <div class="col-sm-7 text-right text-center-xs">
                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getListUser(page)"></pager-directive>
                </div>
            </div>
        </footer>

        <!--<div class="modal fade" tabindex="-1" id="addNewRole" data-keyboard="false" data-backdrop="static">
            <div style="min-width:500px !important" class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="text-center">Add new role</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" formnovalidate name="roleAddForm" ng-submit="addNewRole()">
                            <div class="form-group">
                                <label class="col-lg-3 col-sm-4 control-label">Role name</label>
                                <div class="col-lg-7">
                                    <input required type="text" class="form-control" name="rolename" ng-model="schedule.timeExpression">
                                    <span ng-show="roleAddForm.rolename.$invalid" class="text-danger">Enter role name</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                        <button ng-disabled="roleAddForm.$invalid" type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>-->

    </div>

</section>